[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clinner = "*"
peewee = "*"
python-telegram-bot = "*"
requests = "*"
transitions = "*"

[dev-packages]

[requires]
python_version = "3.6"
