[Unit]
Description=Miner telegram bot
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory={{ app.path }}
ExecStartPre=/usr/bin/python3.6 make run
ExecStart=/usr/bin/docker start -a {{ app.name }}
ExecStop=/usr/bin/docker stop -t 2 {{ app.name }}
Restart=always
RestartSec=5
